.display{
    height: 600px;
    margin: 20px;
    border: 10px;
    padding: 20px;
    background-color: #4CAF50;
}
.gamebutton{
    border: none;
    color: rgb(102, 124, 102);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    width: 47%;
    height: 5%;
    float: left;
}
#gametext{
    height: 80%;
    padding: 10px;
    padding-bottom: 35px;
    overflow-y: auto;
    color: whitesmoke;
}

#active{
    opacity: 1.0;
    cursor: pointer;
}

#nctive{
    opacity: 0.6;
}